<!-- This is a heading for the page -->
<h1>R1 Code Details</h1>

<!-- This is an unordered list with two items showing R1 code and description-->
<ul>
  <li><strong>R1 Kodu:</strong> {{ R1_kod.r_1_code }}</li>
  <li><strong>Açıklama TR:</strong> {{ R1_kod.r_1_desc_tr }}</li>
</ul>

<!-- This is another heading for the page -->
<h2>R2 Codes</h2>

<!-- If there are any R2 codes, show them as an ordered list with each item showing R2 code and description -->
{% if R2_kod_listesi %}
  <ul>
    {% for R2_kod in R2_kod_listesi %}
      <li>{{ R2_kod.r_2_code }} - {{ R2_kod.r_2_desc_tr }}</li>
    {% endfor %}
  </ul>

<!-- If there are no R2 codes found, display the following message -->
{% else %}
  <p>No R2 codes found.</p>
{% endif %}
