<!DOCTYPE html>
<html>
  <head>
    <title>R4 KOD LİSTESİ</title>
  </head>
  <body>
    <h1>R4 KOD LİSTESİ</h1>
    <ul>
      {% for r4_code in R4_kod_listesi %}
        <li>
          <strong>R1 Code:</strong> {{ r4_code.r_1_code }}<br>
          <strong>R2 Code:</strong> {{ r4_code.r_2_code }}<br>
          <strong>R3 Code:</strong> {{ r4_code.r_3_code }}<br>    
          <strong>R4 Code:</strong> {{ r4_code.r_4_code }}<br>  
          <strong>Kod Açıklaması TR:</strong> {{ r4_code.r_4_desc_tr }}
          <strong>Kod Açıklaması EN:</strong> {{ r4_code.r_4_desc_en }}         
        </li>
      {% empty %}
        <li>R4 Kod bulunamadı.</li>
      {% endfor %}
    </ul>
  </body>
</html>